/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
}

/* a {
  text-decoration: none;
} */

ul {
  list-style-type: none;
}

/* UTILS */

.container {
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;

  /* debug */

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.invisible {
  display: none;
}

.col-1-2 {
  width: calc(100% / 2);
}

/* --------------MOBILE VIEW-------------- */

/* ------ HEADER ------ */

.page-header {
  font-family: "Nerko One", cursive;
  position: sticky;
  background-color: white;
}

h1 {
  text-align: center;
  font-family: cursive;
  color: #ff9614;
  font-size: 2.5rem;
  padding: 25px;
}

/* ------ MAIN ------ */

.page-main {
  background-color: #f6f5f3;
}

/* DESSERT */

.container {
  padding: 1.5rem 0.5rem;
}

#dessert .description {
  color: #b5a2a2;
}

#dessert h2 {
  color: #4e3969;
  padding: 1rem 0;
}

#dessert .card {
  background-color: white;
  box-shadow: 0px 0px 15px 7px #b8afaf;
}

#dessert .card-content {
  padding: 1rem;
}

.card-content h3 {
  padding: 1rem 0;
}

.card-content li {
  padding: 0.4rem 0;
}

/* SOCIAL */
#social .container {
  padding: 1rem 0.5rem;
}
#social .row {
  justify-content: space-between;
  margin-left: 0rem;
  margin-right: 0rem;
}

.social-tab {
  background-color: white;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 15px 7px #b8afaf;
}

.social-tab.facebook i {
  color: #1a77f3;
}

.social-tab.instagram i {
  color: #e16d92;
}

.social-tab.youtube i {
  color: #e62222;
}

.social-tab.pinterest i {
  color: #e62222;
}

#social .invisible {
  display: none;
}

/* BANNER */

#banner .container {
  display: none;
}

/* PRESENTATION */

#presentation h2 {
  font-weight: 500;
  padding: 1rem 0 1.5rem;
}

#presentation .line {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #f7972e;
}

#presentation img {
  box-shadow: 0px 0px 15px 7px #b8afaf;
  margin: 25px 0;
}

/* #presentation .paragraph {
  
} */

/* FOOTER */

.page-footer {
  background-color: #7c69a4;
  color: white;
  font-size: 0.8rem;
  padding-top: 20px;
}

.address {
  text-align: center;
  padding-bottom: 10px;
}

.address-top {
  padding-bottom: 10px;
}

.info {
  text-align: center;
  padding-bottom: 20px;
}

.info ul {
  display: flex;
  justify-content: space-evenly;
}

.info li {
  display: inline-block;
  margin-right: 15px;
}

.page-footer a {
  color: white;
}

/* -------------tablet view------------- */

@media screen and (min-width: 780px) {
  h1 {
    text-align: start;
  }

  .container {
    max-width: 700px;
  }

  #dessert .invisible {
    display: inline-block;
  }

  #dessert ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .social-tab {
    padding: 10px 45px;
  }

  #banner .container {
    display: block;
  }

  #presentation .container {
    padding: 1rem 0.5rem;
  }

  #presentation img {
    width: 35%;
  }

  #presentation .paragraph {
    padding-bottom: 40px;
  }

  .address {
    padding-bottom: 10px;
  }

  .address-top {
    padding-bottom: 10px;
  }
}

/* ------------dekstop view------------ */

@media screen and (min-width: 1080px) {
  .container {
    max-width: 1000px;
  }

  #dessert .card {
    display: flex;
  }

  #dessert .card-content ul {
    display: block;
  }

  .social-tab {
    padding: 10px 30px;
  }

  #social .invisible {
    display: inline-block;
    font-weight: 600;
  }

  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
  }

  .page-footer .address {
    text-align: start;
  }

  .page-footer .info {
    text-align: end;
    padding: 0px;
  }
}
