/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* UTILS */

.container {
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;

  /* debug */

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-1-2 {
  width: calc(100% / 2);
}

/* --------------MOBILE VIEW-------------- */

/* ------ HEADER ------ */

header {
  position: sticky;
  background-color: white;
}

h1 {
  text-align: center;
  font-family: fantasy;
  color: #ff9614;
  font-size: 3rem;
  padding: 25px;
}

/* ------ MAIN ------ */

main {
  background-color: #f6f5f3;
}

/* DESSERT */

.container {
  padding: 1.5rem 0.5rem;
}

#dessert .description {
  color: #b5a2a2;
}

#dessert h2 {
  color: #4e3969;
  padding: 1rem 0;
}

#dessert .card {
  background-color: white;
}

#dessert .card-content {
  padding: 1rem;
}

.card-content h3 {
  padding: 1rem 0;
}

.card-content li {
  padding: 0.4rem 0;
}

/* SOCIAL */
#social .container {
  padding: 1rem 0.5rem;
}
#social .row {
  justify-content: space-between;
  margin-left: 0rem;
  margin-right: 0rem;
}

.social-tab {
  background-color: white;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.social-tab.facebook i {
  color: #1a77f3;
}

.social-tab.instagram i {
  color: #e16d92;
}

.social-tab.youtube i {
  color: #e62222;
}

.social-tab.pinterest i {
  color: #e62222;
}

#social .invisible {
  display: none;
}

/* BANNER */

#banner .container {
  display: none;
}

/* PRESENTATION */

#presentation h2 {
  font-weight: 500;
  padding: 1rem 0 1.5rem;
}

#presentation .line {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #f7972e;
}

#presentation img {
  box-shadow: 0px 0px 15px 7px #b8afaf;
  margin: 25px 0;
}

/* #presentation .paragraph {
  
} */

/* FOOTER */

.page-footer {
  background-color: #7c69a4;
}
