/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* UTILS */

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
}

/* HEADER */

/* debug */

/* header {
  background-color: #ff000022;
} */

h1 {
  text-align: center;
  font-family: fantasy;
  color: #ff9614;
  font-size: 3rem;
  padding: 25px;
}

/* MAIN */

main {
  background-color: #f6f5f3;
}
